h1 ICHIBAN
h2 LIPSTICK FOR MEN

iframe(width="640" 
       height="480" 
       src="//www.youtube.com/embed/Wj1IusAlrGY?rel=0&autohide=1&controls=0&show_info=0&autoplay=1" 
       frameborder="0" 
       allowfullscreen 
       autoplay)
