// Colors
$base: #f2d8c2              // Peach
$accent: #bf95ac           // violet
$bold-accent: #8c6d84     // Darker violet
$dark-base: #231726      // Dark indigo
$light: #fff            // White
  
$link: darken($accent, 30%)
$link-hover: darken($accent, 25)

$slow-transition: 500ms
$fast-transition: 200ms

// Fonts
$fonts: "sans-serif"

// Layout defaults
$footer-height: 50px

// Prevents broken box model annoyances.
*
  +box-sizing(border-box)

html, body
  //height: 100%
  background-color: $base
  color: $dark-base
  font:
    family: $fonts


//body
//  padding-bottom: $footer-height // Used for sticky footer

h1
  font-size: 2.5em
  margin-bottom: 10px
h2
  font-size: 2em
h3
  font-size: 1.1em

strong
  font-weight: bold

.clearfix
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.container
  min-height: 100%

.content
  padding: 20px

.site-logo
  width: 465px
  margin: 0 auto

.site-footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  padding: 10px

.site-header
  min-height: 40px
  border-bottom: $bold-accent 2px solid
  .infotainment
    & > *
      display: inline-block
      margin-right: 5px
      border-right: 2px #000 solid

.left
  float: left

.right
  float: right

