$base: #f2d8c2                 // Peach
$accent: #bf95ac              // violet
$bold-accent: #8c6d84        // Darker violet
$dark-base: #231726         // Dark indigo
$light: #fff               // White
$user-accent: #073100     // Near black green
$blockquote: green       // Green
$warning: red           // Red
$notice: #9abf95       // Periwinkle
$error: #bf9595       // Light vermillion
$light-touch: #222   // Dark gray
$white: #fff        // White


$link: darken($accent, 30%)
$link-hover: darken($accent, 25)