form
  label
    display: none

  &.new_post
    width: 500px

  textarea
    width: 100%
    font-family: $fonts
    border: 0

    // width: 350px
    height: 70px

    padding: 2px 4px
  
  .selection
    margin: 0 auto
    width: 70%
    label, input
      display: inline-block
      width: auto
      margin-right: 10px


  input
    width: 100%
    font-family: $fonts
    border: 0
    display: block
    
    margin: 5px 0

    &[type="text"], &[type="password"] 
      background-color: $light
      padding: 2px 4px

    &[type="submit"]
      width: 100%

      background-color: $bold-accent
      color: $light

      &:hover
        background-color: lighten($bold-accent, 10%)
  
  // Spam prevention
  // Only a bot would see this field.
  &.new_post 
    input#email
      display: none

  .meter
    margin: -2px 0 -2px 0
    height: 2px

    & > span
      +transition-property(width)
      +transition-timing-function(ease-in)
      +transition-duration(200ms)
      display: block
      height: 100%
      width: 0%
      background: $bold-accent

.login, .register, .new-post
  width: 500px
