h1
  font-size: 2.5em
  margin-bottom: 10px
h2
  font-size: 2em
h3
  font-size: 1.1em

strong
  font-weight: bold

.hero-text
  margin: 10px 0


.site-header
  padding-bottom: 5px
  border-bottom: $bold-accent 2px solid

  .information
    text-align: center
  .description
    font-style: italic

  &:hover .unimportant
    opacity: $opaque
  .infotainment
    & > *
      text-align: right
      margin-right: 5px
    .name
      text-align: left