.post-preview
  background-color: #FFF
  overflow: hidden
  box-shadow: 1px 3px 1px rgba(34, 25, 25, 0.3)
  margin: 10px
  .post-content
    padding: 6px 12px 12px 12px
    .title
      font-size: 12pt
      font-weight: bold
      margin-bottom: 4px
    .body
      font-size: 11pt
      color: #4C4C4C
  .post-img-content
    position: relative

    img
      width: 100%

  .post-info
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, black 0 0 3px, black 0 0 3px
    font-size: 9pt
    vertical-align: bottom
    z-index: 2
    position: absolute
    left: 0px
    background-color: rgba(51, 51, 51, 0.58)
    display: inline-block
    color: #FFF
    padding: 10px 5px
    width: 100%
    span
      margin: 0px 5px