.post-preview
  background-color: #FFF
  overflow: hidden
  box-shadow: 0 0 1px #CCC
  margin: 10px
  .post-content
    padding: 12px
    .title
      font-size: 12pt
      font-weight: bold
    .body
      font-size: 11pt
      color: #4C4C4C
  .post-img-content
    position: relative

    img
      width: 100%

  .post-info
    font-size: 10pt
    vertical-align: bottom
    z-index: 2
    position: absolute
    left: 0px
    background-color: rgba(51, 51, 51, 0.58)
    display: inline-block
    margin-bottom: 5px
    color: #FFF
    padding: 10px 15px
    width: 100%
