.post
  margin-left: +30px

  article
    // TODO: Lighten replies
    background-color: $accent
    display: inline-block
    
    margin: 5px 0
    padding: 10px
    border-left: 10px solid $bold-accent

    word-break: break-word

    header
      margin-bottom: 5px

      .inner
        border-bottom: 1px solid
        display: inline-block
        
        // Any child of the header
        & > *
          display: inline-block
    .name
      color: green
    .subject
      font-weight: bold
    
    // Any child of the controls
    .controls > *
      margin: 0 2px


    &:hover
      background-color: lighten($accent, 1%)

    figure
      img
        margin: 0 5px
        border: 1px solid darken($accent, 25%)
      a
        display: inline-block
      figcaption
        +transition-property(opacity)
        +transition-duration(500ms)
        opacity: 0.3
        &:hover
          opacity: 1.0
        font:
          size: 0.8em
          style: italics

  &.reply
    display: none


