.showcases
  margin: 0 auto
  visibility: hidden

  .post-card
    width: 500px
    height: 300px


  .showcase
    display: inline-block
    margin: 10px 14px 6px 0px
    width: 300px

    color: $light
    font-size: 1.2em
    font-weight: bold
    text-transform: uppercase

    &:hover .teaser, &:hover .banner
      background-color: hsla(0%,0%,0%, 0.725)
    a
      color: inherit
      display: block
      text-decoration: none
      min-height: 100%
      position: relative

    img
      display: block

    .banner
      top: 0px
    .banner, .teaser
      position: absolute
      width: 100%
      +transition-property(background-color)
      +transition-duration($fast-transition)
      background-color: hsla(0%,0%,0%, 0.425)
      padding: 5px

    .teaser
      .body
        h1,h2,h3,h4,h5,h6
          display: inherit
          font-size: inherit
          text-shadow: inherit
          margin: inherit
          padding: inherit
        em
          font-style: inherit
        strong
          font-weight: inherit
      bottom: 0px
