.controls
  a.reply-toggle(href='#' title="Reply" data-id=post.id) reply
  a.delete-post(href='#' title="Delete" data-id=post.id) delete
  a.report-post(href='#' title="Report" data-id=post.id) report